
*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: flex;
    background-color: #3d231f8a;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}
.cabecalho-lista__item{
    display: inline-block;
    margin: 0 30px;
    font-size: 40px;

}
.cabecalho-imagem{
    width: 30%;
}

.escola-imagem{
    width: 13%;
}
.imagem-fnaf{
    width: 10%;
}
.escola{
    background-image: linear-gradient(#000000,#000000); 
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    text-align: center;
     font-size: 20px;
}
.escola-dois{
      background-image: linear-gradient(#452323,#302525); 
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
     padding: 20px 0;
     text-align: center;
}
.escola-titulo{

text-align: center;

}

.escola-texto-tres{
    font-size: 60px;
}
.estudante{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
    height: 100px;
}
.estudante-imagem-circular{
    border-radius: 50%;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #4a2828;
    text-align: center;
}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}
